<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  autoReload="false"
  throwExceptions="true"
  internalLogLevel="Debug"
  internalLogFile="./logs/nlog-internal.log">
  <variable name="baseFileName" value="${basedir}/logs/${cached:cached=true:clearCache=None:inner=${date:format=yyyy-MM-dd-HH-mm-ss}}-${processid}"/>
  <variable name="baseLayout" value="${longdate}|${pad:padding=5:fixedlength=true:${level:uppercase=true}}|${logger}|${message}|${exception:format=toString,Data}|${all-event-properties}"/>
  <targets async="true">
    <!-- File targets -->
    <target xsi:type="File" name="simple" fileName="${var:baseFileName}-simple.log" layout="${var:baseLayout}" />
    <target xsi:type="File" name="trace" fileName="${var:baseFileName}-trace.log" layout="${var:baseLayout}" />
    <!-- Console target -->
    <target xsi:type="ColoredConsole" name="Console" useDefaultRowHighlightingRules="true" detectConsoleAvailable="true" layout="${var:baseLayout}">
      <!-- Better colouring for Linux -->
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Debug" writeTo="simple" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
