---
# Creates an empty virtualenv and sets the python_exe variable

parameters:
  os:

steps:
  # NOTE(rkm 2021-03-09) Matches what we have in the live environment
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.6'
      addToPath: true
      architecture: 'x64'
  - task: Bash@3
    displayName: Create virtualenv
    inputs:
        targetType: "inline"
        script: |
            set -exuo pipefail
            python3 -m pip install virtualenv
            venv_dir="$(Pipeline.Workspace)"/venv
            python3 -m virtualenv $venv_dir
            set +x; echo "##vso[task.setvariable variable=python_exe]$venv_dir/bin/python"
  - ${{ if eq( parameters.os, 'win' ) }}:
    - task: Bash@3
      displayName: Fixup variable pointing to python executable
      inputs:
        targetType: "inline"
        script: |
          set -euxo pipefail
          # Directory separators
          fixed=$(echo "$(python_exe)" | sed 's/\//\\/g')
          # exe location
          fixed="${fixed%bin\\python}"Scripts\\python.exe
          echo $fixed
          set +x; echo "##vso[task.setvariable variable=python_exe]$fixed"
