---
parameters:
    vmImage:
    os:

jobs:
    - job: build_artefacts
      displayName: Build Artefacts
      pool:
          vmImage: ${{ parameters.vmImage }}
      condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
      dependsOn: [dotnet_tests, java_tests]
      steps:
          - template: ../steps/vars.tmpl.yml
          - template: ../steps/use-dotnet.tmpl.yml
          - task: Bash@3
            displayName: Install pigz on Linux
            condition: eq('${{ parameters.os }}', 'linux')
            inputs:
                targetType: "inline"
                script: |
                    set -euxo pipefail
                    sudo apt-get update -qq
                    sudo apt-get install -y pigz
          - task: Bash@3
            displayName: Build artefacts
            inputs:
                targetType: inline
                script: |
                    set -euxo pipefail
                    os="${{ parameters.os }}"
                    # tag="$( echo ${{ variables.Build.SourceBranch }} | cut -d'/' -f3)"
                    tag=test
                    python3 .azure-pipelines/scripts/buildArtefacts.py $os $tag
          - task: Bash@3
            displayName: List files
            inputs:
                targetType: inline
                script: |
                  set -euxo pipefail
                  find dist -type f
                  cat dist/**/MD5SUMS*
