---
parameters:
    vmImage:
    os:

jobs:
    - job: build_artefacts
      displayName: Build Artefacts
      pool:
          vmImage: ${{ parameters.vmImage }}
      dependsOn: [dotnet_tests, java_tests, python_tests]
      condition: |
        and
        (
            eq(dependencies.dotnet_tests.result, 'Succeeded'),
            eq(dependencies.java_tests.result, 'Succeeded'),
            eq(dependencies.python_tests.result, 'Succeeded'),
            startsWith(variables['Build.SourceBranch'], 'refs/tags/')
        )
      steps:
          - template: ../steps/vars.tmpl.yml
          - template: ../steps/use-dotnet.tmpl.yml
          - template: ../steps/set-git-tag-variable.tmpl.yml
          - template: ../steps/create-venv.tmpl.yml
            parameters:
              os: ${{ parameters.os }}
          - task: JavaToolInstaller@0
            displayName: Use Java 11
            inputs:
                versionSpec: "11"
                jdkArchitectureOption: "x64"
                jdkSourceOption: "PreInstalled"
          - task: Bash@3
            displayName: Build artefacts
            inputs:
              targetType: inline
              script: |
                  set -euxo pipefail
                  os="${{ parameters.os }}"
                  python utils/buildArtefacts.py \
                    $os \
                    $(tag) \
                    "$(python_exe)"
          - task: Bash@3
            displayName: List files
            inputs:
              targetType: inline
              script: |
                set -euxo pipefail
                find dist -type f
                cat dist/**/MD5SUMS*
          - task: GitHubRelease@1
            inputs:
              gitHubConnection: 'GitHub - SMI-Bot'
              repositoryName: '$(Build.Repository.Name)'
              action: 'edit'
              target: '$(Build.SourceVersion)'
              tag: '$(tag)'
              assets: dist/$(tag)/*
              assetUploadMode: 'replace'
              addChangeLog: false
