root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 4
prose_wrap = always

[*.{yaml,yml}]
indent_size = 2

[*.cs]
indent_size = 4

# CA1859: Use concrete types when possible for improved performance
dotnet_diagnostic.CA1859.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA1861: Avoid constant arrays as arguments
dotnet_diagnostic.CA1861.severity = none

# SYSLIB1045: Use GeneratedRegexAttribute to generate the regular expression implementation at compile time.
dotnet_diagnostic.SYSLIB1045.severity = none
