---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: "v3.4.0"
      hooks:
          # General
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-xml
          - id: check-yaml
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: pretty-format-json
            args: [--autofix, --indent=4]
          - id: trailing-whitespace
            # Python
          - id: check-ast
          - id: check-builtin-literals
          - id: check-docstring-first
          - id: debug-statements
          # - id: name-tests-test
          # - id: requirements-txt-fixer
      # General
    - repo: meta
      hooks:
          - id: check-hooks-apply
          - id: check-useless-excludes
    - repo: https://github.com/codespell-project/codespell
      rev: "v2.0.0"
      hooks:
          - id: codespell
            args: [--ignore-words, .meta/codespell-ignores]
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: "v2.2.1"
      hooks:
          - id: prettier
            args: [--config, .meta/prettierrc.json]
    - repo: https://github.com/adrienverge/yamllint
      rev: "v1.25.0"
      hooks:
          - id: yamllint
            args: [-c, .meta/yamllint.yaml]
      # Python
    # - repo: https://github.com/asottile/setup-cfg-fmt
    #   rev: "v1.16.0"
    #   hooks:
    #       - id: setup-cfg-fmt
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: "v1.7.0"
      hooks:
          - id: python-check-blanket-noqa
          - id: python-check-mock-methods
          - id: python-use-type-annotations
          - id: python-no-log-warn
    - repo: https://github.com/asottile/reorder_python_imports
      rev: "v2.3.6"
      hooks:
          - id: reorder-python-imports
            args: [--py36-plus]
    - repo: https://github.com/asottile/add-trailing-comma
      rev: "v2.0.1"
      hooks:
          - id: add-trailing-comma
            args: [--py36-plus]
    - repo: https://github.com/asottile/pyupgrade
      rev: "v2.7.4"
      hooks:
          - id: pyupgrade
            args: [--py36-plus]
    - repo: https://github.com/asottile/yesqa
      rev: "v1.2.2"
      hooks:
          - id: yesqa
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: "v0.790"
      hooks:
          - id: mypy
            args: [--config-file, .meta/mypy.ini]
    - repo: https://github.com/psf/black
      rev: "20.8b1"
      hooks:
          - id: black
            language_version: python38
    - repo: https://gitlab.com/pycqa/flake8
      rev: "3.8.4"
      hooks:
          - id: flake8
            additional_dependencies: [flake8-bugbear, flake8-assert-msg]
            args: [--config, .meta/flake8.conf]
