version: 1.0.{build}
init:
  - cmd: if defined APPVEYOR_PULL_REQUEST_NUMBER appveyor exit
  - git config --global core.autocrlf true
image: Visual Studio 2019
services:
  - mssql2017
  - mysql
  - postgresql101
 
cache:
  - '%USERPROFILE%\.nuget\packages -> **\*.csproj'

before_build:
- ps: "Add-Content c:\\mongodb\\mongod.cfg \"`r`nreplication:`r`n  replSetName: rs0`r`n\""
- cmd: "net start mongodb"
- cmd: "c:\\mongodb\\bin\\mongo --eval \"printjson(rs.initiate())\""
- choco install opencover.portable
- choco install rabbitmq

build_script:
  - PS: "echo \"BuildFolder Is:$APPVEYOR_BUILD_FOLDER\""
  - ps:  Invoke-WebRequest "https://github.com/tesseract-ocr/tessdata/raw/master/eng.traineddata" -OutFile data/tessdata/eng.traineddata
  - ps: Remove-Item "./tests/common/Smi.Common.Tests/TestDatabases.txt"
  - ps: Rename-Item -Path "./tests/common/Smi.Common.Tests/TestDatabases.appveyor.txt" -NewName "TestDatabases.txt"
    
  - ps: Remove-Item "./tests/common/Smi.Common.Tests/RelationalDatabases.yaml"
  - ps: Rename-Item -Path "./tests/common/Smi.Common.Tests/RelationalDatabases.appveyor.yaml" -NewName "RelationalDatabases.yaml"
  
  - ps: "[Net.ServicePointManager]::SecurityProtocol = \"tls12, tls11, tls\""
  - ps: "New-Item -Path \".\" -Name \"rdmp-cli\" -ItemType \"directory\""
  - ps:  Invoke-WebRequest https://github.com/HicServices/RDMP/releases/download/v4.2.0/rdmp-cli-win-x64.zip -OutFile rdmp-cli-win-x64.zip
  
  
  - ps: 7z x rdmp-cli-win-x64.zip -oC:\projects\smiservices\rdmp-cli
  - ps: C:\projects\smiservices\rdmp-cli\rdmp.exe install localhost\SQL2017 TEST_ -D -u sa -p Password12!
 
  - cmd: "\"C:/ProgramData/chocolatey/bin/OpenCover.Console.exe\" -returntargetcode -target:\"c:/program files/dotnet/dotnet.exe\" -targetargs:\"test ./tests/run-all-tests.proj -c Release -p:BuildInParallel=false\" -filter:\"+[CohortExtractor]* +[CohortPackager]* +[DeadLetterReprocessor]* +[DicomRelationalMapper]* +[DicomReprocessor]* +[DicomTagReader]* +[IdentifierMapper]* +[IsIdentifiable]* +[MongoDbPopulator]* +[DicomDirectoryProcessor]* +[TriggerUpdates]* +[UpdateValues]* +[IsIdentifiableReviewer]* +[Smi.Common]* +[Smi.Common.MongoDb]* -[*NUnit*]*\"  -output:coverage.xml -register:appveyor -oldStyle -hideskipped:File"
  - cmd: 'if defined COVERALLS_REPO_TOKEN %USERPROFILE%\\.nuget\\packages\\coveralls.io\\1.4.2\\tools\\coveralls.net.exe --opencover coverage.xml -r %COVERALLS_REPO_TOKEN%'

test: off

environment:
  COVERALLS_REPO_TOKEN:
    secure: 4Py1L+giHVs0VRP352yS9tn7pZhlli+8FhAGhxBrZrHqop6bu6W3UL/G3oKCFUVK
