<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  autoReload="true"
  throwExceptions="true"
  internalLogLevel="Debug"
  internalLogFile="./logs/nlog-internal.log">

  <variable name="baseFileName" value="${basedir}/logs/${cached:cached=true:clearCache=None:inner=${date:format=yyyy-MM-dd-HH-mm-ss}}-${processid}"/>

  <targets async="true">
    <target xsi:type="File"
      name="simple"
      fileName="${var:baseFileName}-simple.log"
      layout="${longdate}|${pad:padding=5:fixedlength=true:${level:uppercase=true}}|${logger}|${message}|${exception:format=toString}|${all-event-properties}" />

    <target xsi:type="File"
            name="trace"
            fileName="${var:baseFileName}-trace.log"
            layout="${longdate}|${pad:padding=5:fixedlength=true:${level:uppercase=true}}|${logger}|${message}|${exception:format=toString}|${all-event-properties}" />

    <target xsi:type="ColoredConsole"
      name="Console"
      useDefaultRowHighlightingRules="true"
      detectConsoleAvailable="true"
      layout="${longdate}|${pad:padding=5:fixedlength=true:${level:uppercase=true}}|${logger}|${message}|${exception:format=toString,Data:maxInnerExceptionLevel=10}|${all-event-properties}|">
      <!-- Better colouring for Linux -->
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Blue" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="trace" />
    <logger name="*" minlevel="Debug" writeTo="simple" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>
